body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    font-family: 'Segoe UI' , sans-serif';
}
.card {
    background: rgba(255,255,255,0.15);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    color: white;
    backdrop-filter: blur(10px);
    animation: fadeIn 2s infinite ease-in-out;
}
.moon {
    font-size: 60px
    animation; float:  2s infinite ease-in-out;
}
h1{
    font-size: 3em;
    margin: 10px 0;
    color: #ffd700;
}
p {
    font-size: 1.2em;
    opacity: 0.9;
}
/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes float {
    0% { transform: translateY(0);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0);}
}